.transaction-history-mobile{
    display: none;
}


@media screen and (max-width:1024px) {
    .transaction-history{
        display: none;
    }
    .calendar-container{
        display: none;
    }
    .filters{
        display: none;
    }
    .transaction-history-mobile{
        display: block;
    }
}