.trade-container {
    margin: auto;
   
    padding: 20px;
    border-radius: 10px;
  }
  
  .trade-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .trade-button {
    width: 48%;
    padding: 10px;
    border: none;
    background-color: #ffff;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #D8D8D8;
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
  }
  
  .trade-button.active {
    background-color: #519ACE;
    font-weight: 600;
    font-size: 20px;
    color: white;
  }
  
  .trade-form {
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .trade-form.buy {
    opacity: 1;
  }
  
  .trade-form.sell {
    opacity: 1;
  }
  
  /* .trade-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  } */
  
  .trade-input-container {
    margin-bottom: 10px;
  }
  

  .trade-input-label {
    position: absolute;
    left: 10px;
    font-size: 12px;
    color: #777777;
  }
  

  .trade-input-wrapper {
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(187, 187, 187);
  }
  
  .trade-input {
    width: calc(100% - 120px); /* Adjust width to leave space for the logo and asset name */
    padding: 20px 20px;
    font-size: 18px;
    border:none;

    appearance: none; /* Remove default styling */
    -moz-appearance: textfield; /* Firefox */
  }
  .trade-input:focus{
    border: none;
    outline: none;
  }
  
  .trade-input.no-arrows::-webkit-outer-spin-button,
  .trade-input.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes default up/down arrows in input */
  }
  
  .trade-input-addon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: #3A4856;
    font-family: poppins;
    font-weight: 600;
  }
  
  .coin-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .available-balance {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .trade-submit-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #519ACE;
    color: #fff;
    border: none;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .trade-submit-button:disabled {
    background-color: #ccc;
  }
  
  